@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
    color: #ffff;
    background-color: #000000;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija el fondo en su lugar al hacer scroll */
    background-position: center; /* Centra la imagen de fondo */
}



/* Resto del CSS */
.profile-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px; /* Reduce el padding para una mayor compresión */
    margin: 0 auto; /* Elimina el margen superior e inferior para una mayor compresión */
    gap: 10px; /* Reduce el espacio entre los elementos dentro del contenedor */
}

.profileimg {
    width: 40vw; /* La imagen ocupará el 40% del ancho de la ventana */
    max-width: 250px; /* Tamaño máximo para la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-bottom: 20px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    border: 5px solid #cab23a; /* Agrega un borde blanco */
    box-shadow: 0 0 50px 15px #e3dada, 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra blanca y una sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añade una transición suave al hacer hover */
}

.profile-name .info p {
    font-size: 17px; /* Ajuste de tamaño de fuente para mejor visibilidad del gradiente */
    line-height: 1.8; /* Aumenta el espacio entre líneas para una apariencia más aireada */
    margin: 0;
    padding: 0;
    
    background-image: linear-gradient(
        to right,
        #462523 0%,
        #cb9b51 25%,
        #f6e27a 50%,
        #f6f2c0 60%,
        #f6e27a 70%,
        #cb9b51 90%,
        #462523 100%
    );
    -webkit-background-clip: text; /* Aplica el gradiente solo al texto */
    color: transparent; /* Hace el texto transparente para mostrar el gradiente */
    background-size: 200%; /* Asegura que el gradiente cubra todo el texto */
    background-position: center; /* Centra el gradiente en el texto */
    
    font-family: 'Georgia', serif; /* Fuente en cursiva */
    font-style: italic; /* Aplica cursiva */
}



/*Micropigmentacion*/
/* Micropigmentación */
.circular-img {
    width: 80px; /* Ajusta el tamaño de la imagen */
    height: 80px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
    margin-bottom: 10px; /* Espacio entre la imagen y el contenido */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.micropigmentacion-item {
    margin-bottom: 20px;
    text-align: center;
}

.micropigmentacion h3 {
    color: #cab23a; /* Cambiado a dorado */
    margin-top: 15px;
}

.micropigmentacion ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.micropigmentacion li {
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #cab23a; /* Texto en dorado */
}



/* Laminado de Cejas */
.laminado-item {
    margin-bottom: 20px;
    text-align: center;
}

.laminado-cejas h3 {
    color: #cab23a; /* Color dorado */
    margin-top: 15px;
}

.laminado-cejas p {
    color: #cab23a; /* Color dorado */
    font-size: 18px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}



/* Lifting de Pestañas */
.lifting-item {
    margin-bottom: 20px;
    text-align: center;
}

.lifting-pestanas h3 {
    color: #cab23a; /* Color dorado */
    margin-top: 15px;
}

.lifting-pestanas p {
    color: #cab23a; /* Color dorado */
    font-size: 18px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}


/* Extensiones de Pestañas */
.extensiones-item {
    margin-bottom: 20px;
    text-align: center;
}

.extensiones-pestanas h3 {
    color: #cab23a; /* Color dorado */
    margin-top: 15px;
}

.extensiones-pestanas p {
    color: #cab23a; /* Color dorado */
    font-size: 18px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}


/* Carbon Peeling */
.carbon-item {
    margin-bottom: 20px;
    text-align: center;
}

.carbon-peeling h3 {
    color: #cab23a; /* Color dorado */
    margin-top: 15px;
}

.carbon-peeling p {
    color: #cab23a; /* Color dorado */
    font-size: 18px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}



/* Laser Removal */
.laser-item {
    margin-bottom: 20px;
    text-align: center;
}

.laser-removal h3 {
    color: #cab23a; /* Color dorado */
    margin-top: 15px;
}

.laser-removal p {
    color: #cab23a; /* Color dorado */
    font-size: 18px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}


/* Tratamientos Capilares */
.capilares-item {
    margin-bottom: 20px;
    text-align: center;
}

.tratamientos-capilares h3 {
    color: #cab23a; /* Color dorado */
    margin-top: 15px;
}

.tratamientos-capilares p {
    color: #cab23a; /* Color dorado */
    font-size: 16px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.tratamientos-capilares em {
    font-style: italic;
    color: #cab23a; /* Texto dorado para los comentarios en cursiva */
}



.treatments {
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.treatments h2 {
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'Dancing Script', cursive;
}

.treatment-button {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    background: none; /* Elimina el fondo */
    border: none; /* Elimina los bordes */
    color: transparent; /* Oculta el texto inicialmente */
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
    );
    -webkit-background-clip: text; /* Usa el gradiente como color de texto */
    background-clip: text; /* Usa el gradiente como color de texto */
    font-size: 20px;
    padding: 15px 0; /* Añade espacio arriba y abajo */
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.treatment-button:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

/* Agregar margen a los nuevos ítems de tratamiento */
.new-treatment-item {
    margin: 20px 0;
}

.new-treatment-content {
    display: none;
}

.details-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* UBICACION */
.ubicacion {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ubicacion iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Estilo para la lista de redes sociales en el pie de página */
.redes {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

/* Botones de redes sociales */
.redes .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Color de los íconos de redes sociales */
.redes .icon i {
    color: #362727;
}

/* Tooltip de redes sociales */
.redes .tooltip {
    position: absolute;
    bottom: 60px;
    font-size: 14px;
    background: #000;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #000;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}